.form-add {
  text-align: center;
  margin-top: 40px;
  .form-control {
    margin-right: 20px;
  }
}
.item {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 20px 0;
}
.items {
  margin-top: 40px;
}
